<div class="upload-wrapper">
  <input type="file" id="upload">
  <textarea rows="3" type="text" id="comment"></textarea>
  <p id="progress"></p>
  <button onclick="upload()">ЗАГРУЗИТЬ ФАЙЛ</button>
</div>

<div id="list">
    {{#if isError}}
    <div class="error">{{message}}</div>
    {{else}}
        {{#each filesData}}
            <div class="file">
                <h4>{{fileName}}</h4>
                <p>{{comment}}</p>
                <a href="http://178.172.195.18:8180/download?filename={{fileName}}">СКАЧАТЬ</a> 
            </div>
        {{/each}}
    {{/if}}
</div>
